{% extends "shop/detail_base.html" %}

                   {% block content %}
 <div class="col-12 col-lg-8">
    <div class="checkout_details_area mt-50 clearfix">

        <div class="cart-title">
            <h2>Create an account</h2>
        </div>
        <p>Please, sign up using the following form:</p><br>
            <form action="#" method="post">
                <div class="row">
                    <form action="." method="post">
                        {{ user_form.as_p }}
                        {% csrf_token %}

                        <p><input type="submit" value="Create my account"></p>
            </form>

    </div>
</div>

 {% endblock %}

